.sidebar {
  float: right;
  font-size: 20px;
  font-family: monospace;
  line-height: 10px;
}

.headshot {
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  float: left;
  img-fluid:

}

.email-me {
  color: white;
  font-size: 20px;
}

#my-projects-header {
  font-weight: bold;
  text-align: center;
  background-color: black;
  color: white;
  padding: 30px;

}

.card {
  max-width: 100%;
  background-color: #cccccc;
  margin: 10px;
  display: flex;

}

.card-header {
  background-color: #A7A7A7;
}

.card-header h5 {
  font-weight: bold;
}

.card-body {
  word-wrap:break-word;

}

.jumbotron  {
  background-color: #0b6990;
  color: white;
  height: 500px;
  letter-spacing: 1px;
}

.about-me-section {
  position: fixed;
  z-index: 2

}

.intro-text {
  font-size: 20px;
  padding: 20px;
  margin: 20px;

}


.btn-lg {
    background-color: #f05413;
}

.jumbotron-fluid {
  margin-bottom: 0px;
  background-image: url(../img/shuksan.jpg);
  background-position: 50% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 17px;
  padding: 20px;

}

.style {
  font-family: 'Cabin', sans-serif;
}
